.tidb-community-ui {
  .typography {
    &.regular {
      font-weight: normal;
    }

    &.light {
      font-weight: lighter;
    }

    &.medium {
      font-weight: bold;
    }

    &.h0 {
      color: @F1;
      font-size: @font-size-h0;
      line-height: @line-height-h0;
      font-weight: 700;
    }

    &.h1 {
      color: @F1;
      font-size: @font-size-h1;
      line-height: @line-height-h1;
      font-weight: 600;
    }

    &.h2 {
      color: @F1;
      font-size: @font-size-h2;
      line-height: @line-height-h2;
      font-weight: 600;
    }

    &.h3 {
      color: @F1;
      font-size: @font-size-h3;
      line-height: @line-height-h3;
      font-weight: 600;
    }

    &.p1, p& {
      color: @F2;
      font-size: @font-size-p1;
      line-height: @line-height-p1;
      font-weight: 400;
    }

    &.p2 {
      color: @F2;
      font-size: @font-size-p2;
      line-height: @line-height-p2;
      font-weight: 400;
    }

    &.p3 {
      color: @F2;
      font-size: @font-size-p3;
      line-height: @line-height-p3;
      font-weight: 400;
    }
  }
}
