
.asktug {
  &-category-list {
    &-item {
      width: 240px;
      height: 96px;
      //margin-right: 8px;
      border-radius: 6px;
      padding: 12px;
      &-wrap {
        border-radius: 6px;
        position: relative;
        padding: 1px;
      }
      &-header {
        &-name {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }
      &-body {
        margin-top: 8px;
        &-description {
          font-size: 12px;
          line-height: 16px;
          color: #7C7C7C;
        }
      }
    }
  }
}
