
.asktug {
  &-sidebar {
    &-event {
      &-container {
        display: flex;
        cursor: pointer;
        //padding: 1rem 0;
        //border-bottom: 1px solid #e9eaee;
        //&:hover {
        //  border-color: #be1d32;
        //  svg {
        //    visibility: visible;
        //  }
        //}
        &-calendar {
          &-month {
            display: flex;
            justify-content: center;
            padding: 4px 8px;
            //height: 20px;
            font-size: 14px;
            line-height: 1;
            color: #ffffff;
            background: #b6b9c3;
          }
          &-day {
            display: flex;
            justify-content: center;
            padding: 4px 8px;
            //height: 25px;
            font-size: 18px;
            line-height: 1;
            font-weight: bold;
            color: #2d3758;
            background: #fcfafa;
            position: relative;
            &-arrow {
              position: absolute;
              bottom: -2px;
              right: -1px;
              color: #b6b9c3;
              transform: rotate(-45deg);
              z-index: 2;
              width: 13px;
              height: 13px;
              &-oppsite {
                color: #f7f8f9;
                transform: rotate(135deg);
                bottom: -5px;
                right: -5px;
                z-index: 1;
              }
            }
          }
        }
        &-content {
          //flex: 1;
          margin-left: 12px;
          &-title {
            font-size: 16px;
            font-weight: normal;
            line-height: 1;
          }
          .ant-badge {
            margin-left: 2rem;
            &-status-text {
              font-size: 12px;
              color: rgba(#2c2c2c, 0.6);
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      //ul {
      //  list-style: none;
      //  a {
      //    font-weight: 400;
      //    font-size: 14px;
      //    line-height: 32px;
      //    color: #000000;
      //  }
      //}
    }
  }
}
