
.asktug {
  &-sidebar {
    &-ranking {
      th, td {
        padding: 4px 16px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        border: none !important;
      }
      td {
        a {
          color: #000 !important;
        }
      }
      &-rank {
        font-weight: 500;
      }
      &-exp {
        color: #7C7C7C;
      }
      &-me {
        tr {
          border-top: 1px dashed #7C7C7C;
          padding: 8px 0;
        }
        td, a {
          color: #FF5C00 !important;
        }
      }
    }
  }
}
