@font-size-h0: 30px;
@font-size-h1: 24px;
@font-size-h2: 20px;
@font-size-h3: 18px;
@line-height-h0: 38px;
@line-height-h1: 32px;
@line-height-h2: 28px;
@line-height-h3: 26px;

@font-size-p1: 16px;
@font-size-p2: 14px;
@font-size-p3: 12px;
@line-height-p1: 24px;
@line-height-p2: 22px;
@line-height-p3: 20px;
