@primary-color: @B4;
@info-color: @B4;
@success-color: @T1;
@processing-color: @B4;
@error-color: @T2;
@highlight-color: @T2;
@warning-color: @T4;
@normal-color: @F5;
@white: @M1;
@black: @F0;

@heading-1-size: @font-size-h0;
@heading-2-size: @font-size-h1;
@heading-3-size: @font-size-h2;
@heading-4-size: @font-size-h3;

@font-size-base: 14px;

@border-radius-base: 6px;
