@import "../../theme";
@import "../../mixins";

@menu-prefix-cls: ~'@{ant-prefix}-menu';

.ti-site-header {
  .fade-enter {
    opacity: 0;
    transform: scale(0.92) translateY(2px);
  }

  .fade-exit {
    opacity: 1;
    transform: initial;
  }

  .fade-enter-active {
    opacity: 1;
    transform: initial;
  }

  .fade-exit-active {
    opacity: 0;
    transform: scale(0.92) translateY(2px);
  }

  .fade-enter-active,
  .fade-exit-active {
    transition: opacity ease 250ms, transform ease 250ms;
  }
}

.ti-site-header {
  background: @M1;
  border-bottom: 1px solid @border-color-base;
  box-shadow: @box-shadow-base;

  .ti-site-header-button {
    & + .ti-site-header-button {
      margin-left: 30px;
    }

    a {
      color: @D5;
      cursor: pointer;

      &:hover {
        color: @B1;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  .responsive-block(ti-site-header__container);

  &.ti-responsive-xxs {
    .ti-site-header-menu {
      width: 62px;
    }

    .ti-site-header-button + .ti-site-header-button {
      margin-left: 16px;
    }
  }
}

.ti-site-header .@{menu-prefix-cls} {
  &-horizontal {
    flex: 1;
    border-bottom: none;
    padding-top: 13px;
    height: 56px;
    line-height: 30px;
    text-align: right;

    &:not(.@{menu-prefix-cls}-dark) {
      > .@{menu-prefix-cls}-item,
      > .@{menu-prefix-cls}-submenu {
        margin: @menu-item-padding;
        margin-top: -1px;
        margin-bottom: 0;
        padding: @menu-item-padding;
        padding-right: 0;
        padding-left: 0;

        &:hover,
        &-active,
        &-open,
        &-selected {
          color: @menu-highlight-color;
          border-bottom: 3px solid @menu-highlight-color;
        }
      }
    }

    > .@{menu-prefix-cls}-item,
    > .@{menu-prefix-cls}-submenu {
      position: relative;
      top: 1px;
      display: inline-block;
      vertical-align: bottom;
      border-bottom: 3px solid transparent;
    }

    > .@{menu-prefix-cls}-submenu-horizontal.@{menu-prefix-cls}-overflowed-submenu {
      &:first-child {
        margin-right: 0;
        margin-left: 12px;
      }

      .anticon.anticon-menu {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}

.ti-site-header-button-popover-overlay {
  .ant-popover-inner-content {
    padding: 0;
    max-width: 320px;
    min-width: 240px;
    .ant-tabs {
      margin-left: 8px;
      margin-right: 8px;
      &-tab {
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
      &-nav {
        margin-bottom: 4px;
      }
      &-content-holder {
        margin-left: -8px;
        margin-right: -8px;
      }
    }
    .ant-list-item {
      font-size: 12px;
      padding: 4px 8px;
      a:not(:hover) {
        color: @D5;
      }
    }
  }
}
