@import (less) '~antd/dist/antd.less';
@import (less) "~@pingcap-inc/tidb-community-ui/theme/index.less";
@import (less) "~@pingcap-inc/tidb-community-ui/theme/index-globals.less";
@import (less) '~@pingcap-inc/tidb-community-ui/theme/index-commons.less';
@import (less) '~@pingcap-inc/tidb-community-ui/theme/index-overrides.less';

#asktug-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

div.custom-search-banner {
  padding-top: 0 ;
}
