@import "~@pingcap-inc/tidb-community-ui/theme/colors";

.ti-site-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 32px;
  max-width: 370px;
  min-width: 256px;
  border-radius: 16px;
  background: @M2;
  border: 1px solid @F7;
  color: @F8;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .2s ease;
  overflow: hidden;

  input {
    background: transparent;
    color: @F3;
    line-height: 32px;
    border: none;
    outline: none;
    &::placeholder {
      font-size: 12px;
      color: @F4;
    }
  }

  a {
    color: @F4;
  }

  &:focus-within {
    background: white;
    a {
      color: @B4;
    }
  }
}
