name: Reusable build

on:
  workflow_call:
    inputs:
      build-env:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up Node.js 18.12.0
        uses: actions/setup-node@v2
        with:
          node-version: 18.12.0

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 6.23.6
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build ui
        run: npm run build:ui

      - name: Build site-components
        run: npm run build:site-components

      - name: Build ui-scripts:${{ inputs.build-env }}
        run: npm run build:ui-scripts:${{ inputs.build-env }}

      - name: Bundle ui artifact
        run: tar -zcf ui.tar packages/ui/dist
        if: ${{ inputs.build-env == 'production' }}

      - name: Bundle site-components artifact
        run: tar -zcf site-components.tar packages/site-components/dist
        if: ${{ inputs.build-env == 'production' }}

      - name: Bundle ui-scripts artifact for ${{ inputs.build-env }}
        run: tar -zcf ui-scripts-${{ inputs.build-env }}.tar packages/ui-scripts/dist

      - name: Upload ui artifact
        uses: actions/upload-artifact@v4
        with:
          name: ui
          path: ui.tar
          if-no-files-found: error
        if: ${{ inputs.build-env == 'production' }}

      - name: Upload site-components artifact
        uses: actions/upload-artifact@v4
        with:
          name: site-components
          path: site-components.tar
          if-no-files-found: error
        if: ${{ inputs.build-env == 'production' }}

      - name: Upload ui-scripts artifact
        uses: actions/upload-artifact@v4
        with:
          name: ui-scripts-${{ inputs.build-env }}
          path: ui-scripts-${{ inputs.build-env }}.tar
          if-no-files-found: error
